 
<aside class="main-sidebar">
   <div class="sidebar"> 
    <div class="user-panel">
      <div class="image text-center"><img src="dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
      <div class="info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

     <ul class="sidebar-menu" data-widget="tree">
     
      <li class="active treeview">
          <ul class="treeview-menu">
            <li><a routerLink="/ViewAll"><i class="fa fa-angle-right"></i>View All  </a></li>
           <li><a routerLink="/AddNew"><i class="fa fa-angle-right"></i>Add New  </a></li>
         </ul>
      </li>
       </ul>
  </div>
   
</aside>
